body {
	background-color: rgb(100, 100, 100);
	color: white;
}

.header {
	padding-top: 10px;
	text-align: center;
	background: rgb(64, 64, 64);
	font-size: 40px;
	padding-bottom: 10px
}

.main_body {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;	
	margin-left: 15%;
	/*margin-right: 15%;*/
	background-color: rgb(128, 128, 128);
	font-size: 20px;
	padding-bottom: 40px;
}

.main_body img {
	padding-top: 3%;
	padding-left: 5%;
	max-height: 100%;
	max-width: 60%;
}

.footer {
	padding-top: 10px;
	background: rgb(64, 64, 64);
	padding-bottom: 10px;
	padding-left: 5%;
}